    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
              <div class="about-img">
                <img src="assets/img/about1.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>DRIVEN BY COMMITMENT POWERED BY HUMANS</h3>
              <p class="fst-italic">
                We are bringing brands closer to their customers for the past 33 years, with innovative technology and the power of human connect through myriad BPO services. 
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
              </ul>
              <p>
                From development to deployment, we as a BPO company, strengthen this commitment with our 10000+ strong support experts working across 25 locations in 12 countries : United States, UK, Albania, Morocco, India, Philippines, Colombia, Canada, El Salvador, Jamaica, Thailand and Indonesia. We cater to various BPO services outsourcing needs of brands from different industries and are committed to deliver excellence.
              </p>
            </div>
          </div>
  
        </div>
    </section><!-- End About Section -->