  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <!-- <h1>Welcome to <span>Saiman Infotech</span></h1> -->
          <h1>Providing the best <span class="typed" data-typed-items="Software Development, BPO, Customer Engagement, Data Marketing, Digital Solution"></span></h1>
          <h2>We see our customer as an invited guest to a party, and we are the hosts. It is our responsibility to make every essential facet of the customer experience a little better.</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Know more </a>
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Request a demo</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=dUDYGlHYvD8" class="glightbox play-btn"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->