      <app-about-section></app-about-section>
  
      <app-why-us-section></app-why-us-section>
  
      <!-- <app-menu-section></app-menu-section> -->
  
      <app-specials-section></app-specials-section>
  
      <app-events-section></app-events-section>
  
      <app-get-quote-section></app-get-quote-section>
  
      <app-testimonials-section></app-testimonials-section>
  
      <app-gallery-section></app-gallery-section>
  
      <app-team-section></app-team-section>
  
      <app-contact-section></app-contact-section>